---
import FeaturedSingle from "../vue/Home/FeaturedSingle.vue";
const { blok } = Astro.props;  // Receiving props from Storyblok in Astro
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    {blok.title}
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    {blok.description}
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  <!-- Loop through blok.columns and pass each item as props to FeaturedSingle -->
  {blok.columns.map((item:any) => (
    <FeaturedSingle item={item} key={item._uid} />
  ))}
</div>
